section.fluid > :not(:last-child) {
    position: absolute !important;
    inset: 0;
}

section.fluid > .colorFilter {
    mix-blend-mode: multiply;
    height: 100%;
    overflow: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

section.fluid > .colorFilter::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg, blue, lime);
    animation: fadeIn 10s linear infinite alternate;
}

section.fluid > .colorFilter::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg, red, blue);
    animation: fadeIn 10s linear infinite alternate-reverse;
}
