section.fluid {
    filter: brightness(4);
}

section.fluid > :not(:last-child) {
    position: absolute !important;
    inset: 0;
}

section.fluid > .colorFilter {
    mix-blend-mode: multiply;
    height: 100%;
    overflow: hidden;
}

@keyframes changeColor {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}

section.fluid > .colorFilter::before {
    content: '';
    position: absolute;
    inset: 0;
    right: -100%;
    background: linear-gradient(to right, red, blue, lime);
    animation: changeColor 10s linear infinite alternate;
}

/* section.fluid > .colorFilter::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg, red, blue);
    animation: fadeIn 10s linear infinite alternate-reverse;
} */
