/* @author : Clément Galiot, Antoine Otegui */
/* style from https://github.com/negomi/react-burger-menu */

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 80px;
}

.bm-menu {
    background-color: #222222;
}

.bm-item-list {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
}

.bm-cross-button {
    right: 20px !important;
    top: 16px !important;
}

.menu-item {
    font-size: 1.25em;
    color: #e8e8e8;
    text-decoration: none;
    text-align: left;
    padding-left: 20px;
}

.menu-item:hover {
    color: #ffffff;
}

.item-separator {
    border: 1px solid #444444;
    margin: 0 10px;
}

.bm-morph-shape {
    fill: #222222;
}

.bm-cross {
    background-color: #e8e8e8;
}

.bm-cross-button:hover .bm-cross {
    background-color: #ffffff;
}

.parameter-container {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin: 5px;
    padding: 10px;
    border: 2px solid #444444;
    border-radius: 15px;
}
